footer {
  text-align: center;
  background-color: skyblue;
}

.copyright {
  background-color: steelblue;
  padding: 30px;
}

.copyright > span {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.copyright > span:first-child::after {
  content: " |";
}
