/* ============================================ */
/* GLOBAL AND COMMON STYLES */
/* ============================================ */

* {
  box-sizing: border-box;
}

:root {
  --skye-blue: rgb(207, 233, 243);
  --black: black;
  --white: white;
}

body {
  background-color: var(--skye-blue);
}

/* ============================================ */
/* HEADER AND NAVIGATION */
/* ============================================ */

nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.dropdown {
  width: 50%;
}

.links-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  justify-content: space-between;
}

.dropdown .fa-bars {
  display: none;
}
